<header>
  <nav>
    <a href="/">MyWatches</a>
    <ul>
      <li><a href="/characters">Leads</a></li>
      <li><a href="/characters/new">New Leads</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/movies/new">Add Movies</a></li>
    </ul>
  </nav>
</header>
