<h2>Movies Watched</h2>
<br />
<div>
  <% if (locals.movies != null ) { %> <% movies.forEach(movie => { %>
  <img height="150" width="100" src="<%= movie.coverImagePath %>" />
  <% }); %> <% } %>
</div>
