<h2>Search Movies</h2>
<div>
  <form action="/movies" method="GET">
    <label>Title</label>
    <input type="text" name="name" value="<%= searchOptions%>" />
    <button type="submit">Search</button>
  </form>
</div>
<br />
<div>
  <% if (locals.movies != null) { %> <% movies.forEach(movie => { %>
  <img height="150" width="100" src="<%= movie.coverImagePath %>" />
  <%});%> <% } %>
</div>
